footer{
    // background: rgb(252, 184, 149) !important;
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 18px;
    background: rgba(207, 206, 206, 0.5) !important;
    border-top: 1px solid $info;
    width: 100%;
}